<h1> About this project: </h1>

<p> This is a blog written by Jacob Steinberg as part of a school project. I attend EPICODUS coding school in downtown portland. </p>

<img src="assets/images/epi.jpg" alt="" />

{{#link-to 'contact'}} Go to the Contact Page {{/link-to}}
<br>
{{#link-to 'index'}} go HOME {{/link-to}}
