<img src="assets/images/me.jpg" alt="" />

<h1> Contact Page </h1>

<h2> Email: Jakesteinberg@hotmail.com </h2>

<h2> Phone: 425-422-4433 </h2>

<h2> Soundcloud: soundcloud.com/socio </h2>



{{#link-to 'about'}} Go to ABOUT page {{/link-to}}
<br>
{{#link-to 'index'}} go HOME {{/link-to}}
