<center>
  <img src="assets/images/me.jpg" alt="" />
  <h1> Contact Page </h1>

  <p> Email: Jakesteinberg@hotmail.com </p>

  <p> Phone: 425-422-4433 </p>

  <p> Soundcloud: soundcloud.com/socio </p>
</center>
