<center>
  <img src="assets/images/me.jpg" alt="" />
  <p> Contact Page </p>

  <p> Email: Jakesteinberg@hotmail.com </p>

  <p> Phone: 425-422-4433 </p>

  <p> Soundcloud: soundcloud.com/socio </p>
</center>
