  <ul>
    {{#each model as |blog|}}
      {{blog-tile blog=blog destroyBlog="destroyBlog" update="update"}}
    {{/each}}
  </ul>

  <div class="col-md-12">
    <br>
      <center>  {{new-blog save2="save3"}} </center>
  </div>
